<assembly xmlns="http://maven.apache.org/ASSEMBLY/2.1.0"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="http://maven.apache.org/ASSEMBLY/2.1.0 http://maven.apache.org/xsd/assembly-2.1.0.xsd">
    <id>app</id>
    <formats>
	<format>zip</format>
    </formats>
    <dependencySets>
	<dependencySet>
	    <unpack>false</unpack>
	    <scope>runtime</scope>
	    <useProjectArtifact>false</useProjectArtifact>
	    <useTransitiveDependencies>false</useTransitiveDependencies>
	    <outputDirectory>lib</outputDirectory>	    	    
	</dependencySet>
    </dependencySets>
    <fileSets>
	<fileSet>           
	    <directory>${project.basedir}</directory>            
	    <outputDirectory>/</outputDirectory>             
	    <excludes>                
		<exclude>${project.build.directory}/**</exclude>    
	    </excludes>            
	</fileSet>
	<fileSet>           
	    <directory>${project.build.directory}</directory>            
	    <outputDirectory>/</outputDirectory>             
	    <includes>
		<include>${project.build.finalName}.jar</include>               
	    </includes>            
	</fileSet>
    </fileSets>      
</assembly>